<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Custom ViewEngine Demo</title>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>NVelocity ViewEngine Demo</h1>
            </div>
            <div id="logindisplay">
                &nbsp;
            </div>
            <div id="menucontainer">#parse("shared/header.vm")</div>
        </div>
        <div id="main">
            #parse($childContent)
            <div id="footer">
            #parse("shared/footer.vm")
            </div>
        </div>
    </div>
</body>
</html>
